#map {
    height: 100%;
  }
  
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .filter-panel {
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    margin: 10px;
    padding: 5px;
    text-align: center;
  }
  
  .filter-panel input[type="checkbox"] {
    margin-left: 5px;
    margin-right: 5px;
  }